<!DOCTYPE html>
<html>
<head>
  <title>NinefoldDummyApp</title>
  <%= stylesheet_link_tag  "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="nf-spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <a href="http://www.plemiona.pl/external_auth.php?sid=pl3898d3137003b6170912cec3c6a69829&client=tws">Idz</a>
  <footer>Version: 3.0.9</footer>
</body>
</html>
